@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply font-sans;
  }
  html {
    @apply font-sans;
  }
}


@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-blue-600 to-indigo-600 bg-clip-text text-transparent;
  }
  .section-padding {
    @apply py-16 px-4 md:px-8 lg:px-16;
  }
}

/* move company logos */
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.ticker-track { animation: ticker 10s linear infinite; }

/* Disable animation on md and above */
@media (min-width: 768px) {
  .ticker-track {
    animation: none;
  }
}